body {
    background-image: url(Sherlock/Sherlock3.jpg);

}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;

}

.box-1 {
    width: 270px;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    background-image: url(Sherlock/Sherlock1.jpg);
    background-size: cover;


}

.box-2 {
    width: 265px;
    height: 150px;


    backdrop-filter: blur(15px);
    font-family: sofia;
    text-align: center;

    color: white;

}

.box-3 {
    width: 270px;
    height: 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;

    background-image: url(Sherlock/Sherlock1.jpg);
    background-size: auto;
    color: white;
    font-size: larger;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif;
}



.icons {
    font-size: 20px;
    color: white;


}

h3 {
    margin-top: 20px;
}

p {
    color: rgba(250, 250, 250, 0.5);
    font-size: 8px;
    font-family: cursive;
    letter-spacing: 5px;
    margin-top: 10px;
    line-height: 30px;

}